:root {
    --primary: #ffc107;
    --secondary: #005249;
    --bg:#005249;
  }

td{
    padding: 10px;
}

.price{
  height: 90vh;
}
.price .package{
    height: 60%;
    width: 60vw;
    margin: 3rem auto;
}

.price .package > div{
    background: radial-gradient(circle, rgba(174,218,238,1) 0%, rgba(12,147,255,1) 45%, rgba(71,142,203,1) 100%);
    
}

.price .package > div button{
   
   background: #2fea00;
   font-size: larger;
    
}

.buy{
    background: #29c502;
   font-size: 1.3rem;
}

.jobpost2{
    color: var(--secondary) !important;
    background-color: var(--primary) !important;
    font-size: 1.3rem;
}

.giverDash div{
   width: 15rem;
   height: 5rem;
}



.bg-secondary-soft {
    background-color: rgba(208, 212, 217, 0.1) !important;
}
.rounded {
    border-radius: 5px !important;
}
/* .py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
} */

.profileh{
    height: 87vh;
    overflow-x:hidden;
    /* width: 90%; */
}
.file-upload .square img {
    height: 250px;
    width: 250px;
    margin: auto;
    vertical-align: middle;
    border: 1px solid #e5dfe4;
    background-color: #fff;
    border-radius: 5px;
}
.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(208, 212, 217, 0.5) !important;
}
.btn-success-soft {
    color: #28a745;
    background-color: rgba(40, 167, 69, 0.1);
}
.btn-danger-soft {
    color: #dc3545;
    background-color: rgba(220, 53, 69, 0.1);
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #29292e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5dfe4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

