@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");



body {
  font-family: "Poppins", sans-serif !important;
  
}


/* for navbar section start*/

.nvco{
    background-color: #ffffff!important;
    filter: brightness(0.9);
    color: #ffc107!important;
}
.nvco a{
    font-size: 1.2rem;
    color: #2b580c ;
    font-weight: bolder;
}
.logo{
    width: 8rem;
    height: 6rem;  
}

/* .navlis2{
    margin-right: 10rem;
} */

.navbott{
    width: 100vw;
    height: 15vh;
}
.jobpost{
    color: #ffc107 !important;
    background-color: #2b580c !important;
}

/* for navbar section end*/



/* for carousel start*/

.text-stroke-p{
    -webkit-text-stroke: 1px #ffc107;
    color: #2b580c;
}

.text-stroke-s{
    -webkit-text-stroke: 2px #2b580c;
    color: #ffc107;
}

/* #2b580c
#ffc107 */

.go-btn{
    border: #2b580c 1px solid !important;
}

.c-item {
    height: 560px;
    width: 100vw;
  }
  
.c-img {
height: 100%;
width: 90%;
margin: 0 auto;
/* filter: brightness(0.9); */
}

/* for carousel end*/


/* for about section start*/

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #ffffff;
    color: rgb(1, 1, 1);
  }


/* for about section end*/


/*for how it work section start*/



/*for how it work section end*/

.pagination{
    
    /* border: 1px solid black; */
    margin:5vh 45vw;
    width: 20vw;
}



/* for footer section start*/
.foot{
    background-color: rgba(0, 0, 0, 0.05);
}
/* for footer section end*/



body{
    background-color: #ededed;
  }
  
  .main-search-input {
      background: #fff;
      padding: 0 120px 0 0;
      border-radius: 1px;
      margin-top: 200px;
      box-shadow: 0px 0px 0px 6px rgba(255,255,255,0.3);
  }
  
  .fl-wrap {
      float: left;
      width: 100%;
      position: relative;
  }
  
  .main-search-input:before {
      content: '';
      position: absolute;
      bottom: -40px;
      width: 50px;
      height: 1px;
      background: rgba(255,255,255,0.41);
      left: 50%;
      margin-left: -25px;
  }
  
  .main-search-input-item {
      float: left;
      width: 100%;
      box-sizing: border-box;
      border-right: 1px solid #eee;
      height: 50px;
      position: relative;
  }
  
  .main-search-input-item input:first-child {
      border-radius: 100%;
  }
  
  .main-search-input-item input {
      float: left;
      border: none;
      width: 100%;
      height: 50px;
      padding-left: 20px;
  }
  
  .main-search-button{
  
        background: #4DB7FE;
  }
  
  .main-search-button {
      position: absolute;
      right: 0px;
      height: 50px;
      width: 120px;
      color: #fff;
      top: 0;
      border: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      cursor: pointer;
  }
  
  .main-search-input-wrap {
      max-width: 500px;
      margin: 20px auto;
      position: relative;
  }
  
  :focus {
      outline: 0;
  }
  
  
  @media only screen and (max-width: 768px){
  .main-search-input {
      background: rgba(255,255,255,0.2);
      padding: 14px 20px 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.0);
  }
  
  .main-search-input-item {
      width: 100%;
      border: 1px solid #eee;
      height: 50px;
     
      margin-bottom: 10px;
  }
  
  .main-search-input-item input {
      border-radius: 6px !important;
      background: #fff;
  }
  
  .main-search-button {
      position: relative;
      float: left;
      width: 100%;
      border-radius: 6px;
  }
  }
  



